name: CI
on:
  push:
    branches:
      - dev
      - main
      - r[1-9]
  pull_request:
    branches:
      - dev
      - main
      - r[1-9]
  schedule:
    - cron: '0 0 * * 0' # Weekly on Sunday at midnight
  workflow_dispatch:
jobs:
  publish-exn-connector-to-maven-central-portal-snapshot:
    name: Publish exn-connector snapshot
    uses: eu-nebulous/github-actions/.github/workflows/publish-java-library-snapshot.yml@main
    with:
      context: exn-connector
      java-version: '11'
    secrets: inherit
